// body {
//     font-family: Arial, sans-serif;
//     margin: 0;
//     padding: 20px;
//   }

//   .container {
//     max-width: 500px;
//     margin: 0 auto;
//     background-color: #f4f4f4;
//     padding: 20px;
//     border-radius: 10px;
//   }

//   h1 {
//     text-align: center;
//     margin-bottom: 30px;
//   }

//   .form-group {
//     margin-bottom: 20px;
//   }

//   .form-group label {
//     display: block;
//     font-weight: bold;
//   }

//   .form-group .value {
//     padding: 10px;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     background-color: #fff;
//   }

//   .btn {
//     background-color: #4CAF50;
//     color: white;
//     padding: 10px 20px;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
//     float: right;
//   }

//   .btn-sync {
//     background-color: #2196F3;
//   }

//   .btn-signout {
//     background-color: #f44336;
//     margin-right: 10px;
//   }

.example-icon{
    display: flex;
    gap: 25px;
    border: 0px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
  }

  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 10px;
    font-weight: bold;
    color: white;
  }